body {
  font-family: sans-serif;
  background-color: rgba(10, 10, 10, 0.9);
  padding-top: 40vh;
  padding-bottom: 100vh;
  scroll-behavior: smooth;
  background-image: radial-gradient(#483475, #070B34);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#sun {
  width: 40vh;
  height: 40vh;
  margin-bottom: 200px;
}

// https://codepen.io/WebSonick/pen/vjmgu

#stars, #clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#stars {
  background: transparent url('/images/backgrounds/stars.png') repeat top center;
  z-index:-500;
}

#clouds {
  background: transparent url('/images/backgrounds/clouds.png') repeat top center;
  z-index: -100;
  opacity: 0.5;
  animation: move-clouds-back 250s linear infinite;
}

@keyframes move-clouds-back {
  from { background-position:0 0; }
  to { background-position:10000px 0; }
}

#name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75vw;
  z-index: 500;
  transition: width 0.75s;

  @media only screen and (min-width: 600px) {
    &:not(.fixed) {
      transform: translate(0, 30vh);
    }
  }

  &.fixed {
    width: 50vw;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
  }
}

.info {
  display: block;
}

#scroll {
  margin-left: auto;
  margin-right: auto;
}

#click-cars {
  position: fixed;
  left: 49.5%;
  bottom: 25%;
  width: 50%;
  z-index: 500;
}

#ground {
  background-image: url('/images/backgrounds/ground.svg');
  // transform: perspective(100px) rotateX(45deg);
  // perspective-origin: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 25vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

#road {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 16vh;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#FF9DE6, #FF85EA);
}

.lambo {
  display: block;
  margin: 2.5px;
  height: 7.5vh;
  position: absolute;
  &:not(.other) {
    right: 0;
  }
  &.first {
    bottom: 16vh;
  }
  &.second {
    bottom: 8vh;
  }
  &.third {
    bottom: 0%;
  }
}

.bio {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
  text-align: left !important;
  width: 300px !important;
  height: 150px;
  background-image: url('/images/me.png');
}

.profession:before {
  content: 'Front-End Developer';
  animation: profession-names 20s infinite;
}

@keyframes profession-names {
  25% {
    content: 'UX Developer';
  }
  50% {
    content: 'Software Engineer';
  }
  75% {
    content: 'JavaScript Expert';
  }
}

#social-media {
  position: absolute;
  left: 7.5px;
  bottom: 5px;
  img {
    width: 10%;
    height: 10%;
    margin: 0 2.5px;
  }
}

.median {
  display: block;
  position: absolute;
  height: 70%;
  padding: 0;
  top: 50%;
  z-index: -100;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -55%);

  > * {
    display: inline-block;
    height: 100%;
    margin: 0 2.5px;
  }

}

.line {
  width: 15px;
  height: 100%;
  box-shadow: inset 0.1vw 0 0.2vw rgb(0, 0, 0);
  background-color: #483475;
}

button {
  display: inline-block;
  position: relative;
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

button:before {
  content: '';
  display: block;
  position: absolute;
  left: 3%;
  right: 2.5%;
  top: 5%;
  height: 10px;
  border-radius: 10px;
}

$colors: #FF9472, #E847AE, #13CA91;
// #00FECA, #FDF200, #FF85EA;
// rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255);
$line-names: about-me, projects, experience;
$animation-time: 10s;
$random-times:
  random(97),
  random(97),
  random(97);

@for $i from 1 through 3 {

  ##{nth($line-names, $i)} {

    color: nth($colors, $i);
    animation: #{nth($line-names, $i)}-flicker $animation-time infinite step-end;

    > .title {
      text-shadow:
        0 0 10px nth($colors, $i),
        0 0 15px nth($colors, $i),
        0 0 20px nth($colors, $i),
        0 0 40px nth($colors, $i);
      animation: #{nth($line-names, $i)}-flicker $animation-time infinite step-end;
    }

    button {
      color: rgb(0,0,0);
      font-weight: bold;
      background-color: rgba(nth($colors, $i), 0.1);
      text-shadow:
        0 0 7px rgba(nth($colors, $i), 1), /* bloom */
        0 1px 2px rgba(nth($colors, $i), 0.7); /* drop shadow */
      box-shadow:
        inset 0 -2px 10px rgba(nth($colors, $i), 0.4),
        inset 0 2px 10px rgba(nth($colors, $i), 0.4);
    }

    button:before {
      background: linear-gradient(
        rgba(nth($colors, $i), 0.8), rgba(nth($colors, $i), 0) );
    }

    .selected.line {
      box-shadow:
        inset 0.2vw 0 0.5vw 0.1vw nth($colors, $i),
        inset -0.2vw 0 1vw nth($colors, $i);
      // background-color: nth($colors, $i);
    }

    > .card {
      text-shadow:
        0 0 5px nth($colors, $i),
        0 0 10px nth($colors, $i),
        0 0 20px nth($colors, $i),
        0 0 40px nth($colors, $i);
      color: rgb(255, 255, 255);
      box-shadow:
        inset 0.1vw 0 0.1vw 1px nth($colors, $i),
        inset -0.2vw 0 0.5vw nth($colors, $i);
    }
  }

  @keyframes #{nth($line-names, $i)}-flicker {
    0% {
      opacity: 0.9;
    }
    #{nth($random-times, $i) * 1%} {
      opacity: 0.6;
    }
    #{(nth($random-times, $i) + 1) * 1%} {
      opacity: 0.9;
    }
    #{(nth($random-times, $i) + 2) * 1%} {
      opacity: 0.6;
    }
    #{(nth($random-times, $i) + 3) * 1%} {
      opacity: 0.9;
    }
  }

}

.section {
  padding: 200px 0;
  position: relative;
  text-align: center;

  > .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    font-size: 44px;
    font-family: 'Damion', cursive;
  }

  > .card {
    width: max-content;
    max-width: 300px;
    border-radius: 5px;
    margin: 0 auto 10px auto;
    text-align: center;
    background-color: rgba(150, 150, 150, 0.9);
    backdrop-filter: blur(5px);
    padding: 20px;
    z-index: 90;
  }

}

.card {
  .title {
    font-weight: bold;
  }
}

.project {
  .title {
    margin-bottom: 5px;
  }
  .buttons {
    margin-top: 5px;
  }
}

.description {
  font-size: 14px;
}

#experience {
  .company {
    font-weight: bold;
  }
  .time {
    font-style: italic;
    font-size: 12px;
  }
  .description {
    margin-top: 5px;
  }
}
