body {
  font-family: sans-serif;
  background-color: rgba(10, 10, 10, 0.9);
  padding-top: 50px;
  scroll-behavior: smooth;
}

#name {
  position: fixed;
  z-index: -100;
  top: 3vw;
  right: 3vw;
  font: bold 20px arial, sans-serif;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.median {
  display: block;
  position: absolute;
  height: 90%;
  padding: 0;
  top: 0;
  z-index: -100;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}

.median > * {
  display: inline-block;
  height: 100%;
  margin: 0 2.5px;
}

.line {
  width: 15px;
  height: 100%;
  box-shadow: inset 0.1vw 0 0.2vw rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.05);
}

#red .red.line {
  box-shadow: inset 0.2vw 0 0.5vw 0.1vw rgb(255, 0, 0),
    inset -0.2vw 0 1vw rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.175);
}

#green .green.line {
  box-shadow: inset 0.2vw 0 0.5vw 0.1vw rgb(0, 255, 0),
    inset -0.2vw 0 1vw rgb(0, 255, 0);
  background-color: rgba(0, 255, 0, 0.175);
}

#blue .blue.line {
  box-shadow: inset 0.2vw 0 0.5vw 0.1vw rgb(0, 0, 255),
    inset -0.2vw 0 1vw rgb(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.175);
}

.section {
  padding: 100px 0;
  position: relative;
}

.section > div:not(.median) {
  display: block;
  border: 1px solid black;
  max-width: 75vw;
  border-radius: 5px;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: rgb(10, 10, 10);
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  z-index: 90;
}

#red {
  color: rgba(255,0,0,0.5);
  text-shadow:
    0 0 5px rgba(255,0,0,0.5),
    0 0 10px rgba(255,0,0,0.5),
    0 0 20px rgba(255,0,0,0.5),
    0 0 40px rgba(255,0,0,0.5);
}

#green {
  color: rgba(0,255,0,0.5);
  text-shadow:
    0 0 5px rgba(0,255,0,0.5),
    0 0 10px rgba(0,255,0,0.5),
    0 0 20px rgba(0,255,0,0.5),
    0 0 40px rgba(0,255,0,0.5);
}

#blue {
  color: rgba(0,0,255,0.5);
  text-shadow:
    0 0 5px rgba(0,0,255,0.5),
    0 0 10px rgba(0,0,255,0.5),
    0 0 20px rgba(0,0,255,0.5),
    0 0 40px rgba(0,0,255,0.5);
}