.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
}

.App header > #bold-title {
  display: block;
}

.App-link {
  color: #61dafb;
}

.main-section {
  background-color: #282c34;
  margin: 10px;
  padding: 10px;
}

.what.main-section .project {
  margin: 10px;
  border: 1px solid black;
}

.what.main-section .slideshow {
  padding: 10px;
}

.what.main-section .slideshow img {
  width: 100%;
}
